# Ignore Gradle project-specific cache directory
.gradle
.idea

# Ignore Gradle build output directory
build

# Ignore OpenAPI generated code
simple-generator/generated/

# Ignore generated YAML specs
simple-generator/yaml-specs/

# Ignore Node.js dependencies
simple-generator/node_modules/
